<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sopping Web App</title>
    <link href="/Css/bootstrap.min.css" rel="stylesheet">
    <link href="/Css/webstyle.css" rel="stylesheet">
    <link href="/Css/stepper.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
</head>

<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/"><img src="/Assets/logo.png" class="logo" id="logo1" width="225" height="60" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto nav-pils">
            <li class="nav-item" id="nav-pesquisa">
                <a class="nav-link" href="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Pesquisa.." id="input-pesquisa">
                                <div class="input-group-append">
                                    <button class="btn" type="button" id="btn-search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">INÍCIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/itens">ITENS</a>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_artigos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ITENS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_artigos" id="dropcategorias">
                        <div class="text-center">
                            <form class="accordion" id="categorias-accordion">
                                
                            </form>
                        </div>
                    </div
                </li>-->               
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#carrinho"><button class="btn fa fa-shopping-cart btn-light" data-toggle="modal" data-target="#carrinhoModal">   <span class="total-count font-weight-bold" style="font-size: 19px;"></span></button></a>
            </li>
        </ul>
    </div>
</nav>

<!--Main-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-2">
            <br><br>
            <div class="accordion" id="categorias-accordion">
                                    
            </div>
        </div>
        <div class="col-12 col-sm-10">
            <div id="artigos" class="element element-2">
                <br>
                <h1 id="titulo-promo" >Promoções</h1>          
                <div class="row" id="promocoes">
  
                </div>
                <h1 id="titulo-categoria"></h1>
                <div class="row" id="artigos-container">
                
                </div> 
                <!--<a href="javascript:prevPage()" id="btn_prev">Prev</a>
                <a href="javascript:nextPage()" id="btn_next">Next</a>-->
            </div>

            
        </div>
    </div>
</div>
<!-- Modal para o carrinho -->
<div class="modal fade" id="carrinhoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-carrinho">
            <!-- Modal header -->
            <div class="modal-header">
                <h4 class="modal-title">Carrinho</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="carrinho-body">
                <!--Stepper-->
                <form id="regForm">
                    <!--Steps do form-->
                    <div class="steps" style="text-align:center;">
                        <span class="step"><i class="fa fa-shopping-cart fa-sm"></i></span>
                        <span class="step"><i class="fa fa-user fa-sm"></i></span>
                        <span class="step"><i class="fas fa-money-check-alt fa-sm"></i></span>
                        <span class="step"><i class="fas fa-check fa-sm"></i></span>
                    </div>
                    <!--tab de cada form-->
                    <div class="tab">                                   
                        <table class="table">
                            <thead class="cart-table-title">
                                    
                            </thead> 
                           <tbody class="show-cart">

                          </tbody>
                        </table>
                        <div class="cart-total">
                            <br>
                            <hr>
                            <strong class="cart-total-title">Preço Total: <span class="total-cart"></span>€</strong>
                        </div>                       
                    </div>
                    <div class="tab">
                        <!--<label for="NomeCart">Nome:</label>
                        <div class="form-row">
                            <div class="col">
                              <input id="firstNome" type="text" class="form-control" placeholder="Primeiro Nome..">
                            </div>
                            <div class="col">
                              <input id="lastNome" type="text" class="form-control" placeholder="Apelido..">
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="emailCart">Email:</label>
                            <input type="email"  class="form-control" id="emailCart" placeholder="Introduza o seu email.." name="EmailCart">
                        </div>
                        <div class="form-group">
                            <label for="cartMorada">Morada</label>
                            <input type="text" class="form-control" id="cartMorada" placeholder="Morada..">
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                              <label for="cartCidade">Cidade</label>
                              <input type="text" class="form-control" id="cartCidade" placeholder="Cidade..">
                            </div>
                            <div class="form-group col">
                              <label for="cartZip">Zip</label>
                              <input type="text" class="form-control" id="cartZip" placeholder="Código-Postal.."> 
                            </div>
                          </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
                            </div>-->
                    </div>
                    <div class="tab" id="mpagamento">
                        <strong>MÉTODOS DE PAGAMENTO:</strong>
                    </div>
                    <div class="tab" id="confirmar">
                        <div class="spinner-border text-warning"></div>
                        <br>
                        <strong>DESEJA CONFIRMAR A COMPRA?</strong>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="clear-cart btn btn-danger" type="button" id="clearBtn">Limpar</button>
                <button  class="btn btn-danger" type="button" data-dismiss="modal">Fechar</button>
                <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                <button class="btn btn-success" type="button" id="nextBtn" onclick="nextPrev(1)">Seguinte</button>
            </div>
        </div>
    </div>
</div>
<!-- Fim modal carrinho -->

<br>
<!-- Footer -->
<footer class="py-4 footer">
    <div class="container-ft">
      <p class="m-0 text-center text-black">Copyright &copy; Coimfor 2020
        <a href="#">Privacy Policy</a>
        &middot;
        <a href="#">Terms &amp; Conditions</a>
      </p>
    </div>
</footer>

<script src="/Js/jquery.min.js"></script>
<script src="/Js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="/Js/index.js"></script>
<script src="/Js/lerdados.js"></script>
<script src="/Js/mostraartigos.js" type="module"></script>
<script src="/Js/promoitens.js" type="module"></script>
<script src="/Js/carrinho.js"></script>
</body>

</html>