#regForm {
    margin: auto;
    padding: 40px;
    width: 100%;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border: 1px solid #aaaaaa;
}

.cart-column{
    font-size: 15px;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

.modal-footer .btn{
    width: 120px;
    alignment: center;
}

.modal-footer .btn-primary:hover {
    background-color: rgb(255, 201, 40);
    color:black;
    border-color: rgb(255, 201, 40);
}

.modal-footer .btn-success:hover {
    background-color: rgb(255, 201, 40);
    color:black;
    border-color: rgb(255, 201, 40);
}

.fa-money-check{
    color: black;
}
/* Hide all steps by default: */
.tab {
    display: none;
    margin-top: 29px;
}

/* Make circles that indicate the steps of the form: */
.steps .step {
    height: 43px;
    width: 45px;
    margin: 18px;
    background-color: #d4d4d4;
    border: none;
    border-radius: 50%;
    display: inline-block;
}

#confirmar{
    text-align: center;
}

.step.active {
    background-color: #acacac;
}
.step .span{
text-align: center;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: rgb(255, 201, 40);
}

#confirmar .fa-check-circle{
    color: green;
}
